<p id="notice"><%= notice %></p>

<p>
  <strong>License type:</strong>
  <%= @business.license_type %>
</p>

<p>
  <strong>License expiration date:</strong>
  <%= @business.license_expiration_date %>
</p>

<p>
  <strong>License status:</strong>
  <%= @business.license_status %>
</p>

<p>
  <strong>License creation date:</strong>
  <%= @business.license_creation_date %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @business.industry %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @business.business_name %>
</p>

<p>
  <strong>Business name two:</strong>
  <%= @business.business_name_two %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business.phone %>
</p>

<p>
  <strong>Borough:</strong>
  <%= @business.borough %>
</p>

<p>
  <strong>Community board:</strong>
  <%= @business.community_board %>
</p>

<p>
  <strong>Bin:</strong>
  <%= @business.bin %>
</p>

<p>
  <strong>Bbl:</strong>
  <%= @business.bbl %>
</p>

<p>
  <strong>Nta:</strong>
  <%= @business.nta %>
</p>

<p>
  <strong>Census tract:</strong>
  <%= @business.census_tract %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @business.detail %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @business.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @business.latitude %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
